div.opi-auction-item {
    padding: 10px;
    margin: 0;
}


div.opi-auction-item ul.opi-auction-item-ul {
    background: #262626;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    -webkit-transition: border, box-shadow .45s;
    -moz-transition: border, box-shadow .45s;
    -ms-transition: border, box-shadow .45s;
    -o-transition: border, box-shadow .45s;
    transition: border, box-shadow .45s;
}

div.opi-auction-item ul.opi-auction-item-ul:hover,
div.opi-auction-item ul.opi-auction-item-ul:focus {
    border: 1px solid #f96e5b;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 0 rgba(199, 77, 36, 1);
    -moz-box-shadow: 0 0 10px 0 rgba(199, 77, 36, 1);
    box-shadow: 0 0 10px 0 rgba(199, 77, 36, 1);
}

div.opi-auction-item ul.opi-auction-item-ul li.opi-auction-item-image {
    padding: 0;
    overflow: hidden;
    max-height: 250px;
    flex: 0 0 25%

}

div.opi-auction-item ul.opi-auction-item-ul li.opi-auction-item-image img {
    padding: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.opi-auction-item ul.opi-auction-item-ul li.opi-auction-item-title {
    padding: 5px;
    font-weight: bold;
    overflow: hidden;
    border-bottom: 1px dashed #eee;
    height: 50px;
}

div.opi-auction-item ul.opi-auction-item-ul li.opi-auction-item-info {
    padding: 5px;
    overflow: hidden;
    flex: 0 0 75%
}

div.opi-auction-item ul.opi-auction-item-ul ul.opi-auction-item-info-ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*border-bottom: 1px dashed #eee;*/
}


div.opi-auction-item ul.opi-auction-item-ul ul.opi-auction-item-info-ul li.opi-auction-item-category {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.1em;
    overflow: hidden;
}

div.opi-auction-item ul.opi-auction-item-ul ul.opi-auction-item-info-ul li.opi-auction-item-timework {
    padding: 4px 0;
    display: flex;
    justify-items: center;
    border-bottom: 1px dashed #eee;
}

div.opi-auction-item ul.opi-auction-item-ul ul.opi-auction-item-info-ul li.opi-auction-item-timework b {
    color: white;
    background: #f96e5b;
    padding: 2px;
    border-radius: 5px;
}


div.opi-auction-item ul.opi-auction-item-ul ul.opi-auction-item-info-ul li.opi-auction-item-phone {
    padding: 4px 0;
}

div.opi-auction-item ul.opi-auction-item-ul ul.opi-auction-item-info-ul li.opi-auction-item-phone b {
    color: white;
    background: #f96e5b;
    padding: 2px;
    border-radius: 5px;
}

div.opi-auction-item ul.opi-auction-item-ul ul.opi-auction-item-info-ul li.opi-auction-item-phone a {
    cursor: pointer;
}

div.opi-auction-item ul.opi-auction-item-ul ul.opi-auction-item-info-ul li.opi-auction-item-phone a:hover {
    cursor: pointer;
    color: #f96e5b;
}

div.opi-auction-item ul.opi-auction-item-ul li.opi-auction-item-actions {
    padding: 0;
    margin: 0;
    overflow: hidden;
    flex: 0 0 25%
}

div.opi-auction-item ul.opi-auction-item-ul li.opi-auction-item-actions ul.opi-auction-item-action-ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.opi-auction-item-action-ul li.opi-action-li {
    width: 49%;
    padding: 5px;
    display: inline-block;
}


div.opi-action-fawpforms {
    border: 2px solid #f96e5b;
    border-radius: 7px;
    height: 44px;
    text-align: center;
    -webkit-transition: border-color, background-color .95s;
    -moz-transition: border-color, background-color .95s;
    -ms-transition: border-color, background-color .95s;
    -o-transition: border-color, background-color .95s;
    transition: border-color, background-color .95s;
    padding: 3px 0;
}

div.opi-action-fawpforms a {
    color: #f96e5b
}

div.opi-action-fawpforms:hover {
    border: 2px solid #a74a3d;
}

div.opi-action-fawpforms a:hover {
    color: #a74a3d;
}

div.opi-action-facomments {
    border: 2px solid #f3bd49;
    border-radius: 7px;
    height: 44px;
    text-align: center;
    -webkit-transition: border-color .45s;
    -moz-transition: border-color .45s;
    -ms-transition: border-color .45s;
    -o-transition: border-color .45s;
    transition: border-color .45s;
    padding: 3px 0;
}

div.opi-action-facomments a {
    color: #f3bd49
}

div.opi-action-facomments:hover {
    border: 2px solid #c7983b;
}

div.opi-action-facomments a:hover {
    color: #c7983b;
}


div.opi-action-facomments a,
div.opi-action-fawpforms a {
    white-space: nowrap;
    clear: both;
    display: block;
    text-decoration: unset;
    cursor: pointer;
    font-weight: bold;
}

.bet-iframe-ul {
    list-style: none;
    display: flex;
    padding: 35px;
    flex-direction: row;
    justify-content: space-evenly;
    background: #262626;
    color: white;
    align-items: center;
    flex-wrap: wrap;
}

.bet-iframe-ul > li {
    padding: 5px;
}

.opi-auction-info-bl {
    display: flex;flex-direction: row;justify-items: center;justify-content: space-around;flex: 0 0 100%;flex-wrap: wrap;flex-flow: column
}

.opi-auction-info-bl > div {
    padding: 5px;
}

.current-price {
    color: white;
    background: #f96e5b;
    padding: 2px;
    border-radius: 5px;
}


.bet-history-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #262626;
    color: white;
    align-items: center;
    height: inherit;
}

.bet-history-ul .bet-history-item {
    width: 100%;
}

.bet-history-ul .bet-history-item > div {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: stretch;
}

.bet-history-item > div > div {
    flex: 0 0 33%;
}

.bet-history-ul .bet-history-item b {
    color: white;
    background: #f96e5b;
    padding: 2px;
    border-radius: 5px;
}