div.opi-offer {
    padding: 10px;
    margin: 0;
}


div.opi-offer ul.opi-offer-ul {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-transition: border-color .45s;
    -moz-transition: border-color .45s;
    -ms-transition: border-color .45s;
    -o-transition: border-color .45s;
    transition: border-color .45s;
}

div.opi-offer ul.opi-offer-ul:hover {
    border: 1px solid #f96e5b;
    border-radius: 3px;
}

div.opi-offer ul.opi-offer-ul li.opi-offer-image {
    padding: 0;
    overflow: hidden;
    max-height: 160px;
    min-height: 160px;
}

div.opi-offer ul.opi-offer-ul li.opi-offer-image img {
    padding: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
}

div.opi-offer ul.opi-offer-ul li.opi-offer-title {
    padding: 5px;
    font-weight: bold;
    overflow: hidden;
    border-bottom: 1px dashed #eee;
    height: 100px;
}

div.opi-offer ul.opi-offer-ul li.opi-offer-info {
    padding: 5px;
    overflow: hidden;
}

div.opi-offer ul.opi-offer-ul ul.opi-offer-info-ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px dashed #eee;
}

div.opi-offer ul.opi-offer-ul ul.opi-offer-info-ul li.opi-offer-category {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.1em;
    overflow: hidden;
}

div.opi-offer ul.opi-offer-ul ul.opi-offer-info-ul li.opi-offer-timework {
    padding: 4px 0;
}

div.opi-offer ul.opi-offer-ul ul.opi-offer-info-ul li.opi-offer-timework b {
    color: white;
    background: #f96e5b;
    padding: 2px;
    border-radius: 5px;
}


div.opi-offer ul.opi-offer-ul ul.opi-offer-info-ul li.opi-offer-phone {
    padding: 4px 0;
}

div.opi-offer ul.opi-offer-ul ul.opi-offer-info-ul li.opi-offer-phone b {
    color: white;
    background: #f96e5b;
    padding: 2px;
    border-radius: 5px;
}

div.opi-offer ul.opi-offer-ul ul.opi-offer-info-ul li.opi-offer-phone a {
    cursor: pointer;
    color: black;
}

div.opi-offer ul.opi-offer-ul ul.opi-offer-info-ul li.opi-offer-phone a:hover {
    cursor: pointer;
    color: #f96e5b;
}

div.opi-offer ul.opi-offer-ul li.opi-offer-actions {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div.opi-offer ul.opi-offer-ul li.opi-offer-actions ul.opi-offer-action-ul {
    padding: 0;
    margin: 0;
    background: rgb(255, 243, 243);
}

ul.opi-offer-action-ul li.opi-action-li {
    width: 49%;
    padding: 5px;
    display: inline-block;
}


div.opi-action-fawpforms {
    border: 2px solid #f96e5b;
    border-radius: 7px;
    height: 44px;
    text-align: center;
    -webkit-transition: border-color, background-color .95s;
    -moz-transition: border-color, background-color .95s;
    -ms-transition: border-color, background-color .95s;
    -o-transition: border-color, background-color .95s;
    transition: border-color, background-color .95s;
    padding: 3px 0;
}

div.opi-action-fawpforms a {
    color: #f96e5b
}

div.opi-action-fawpforms:hover {
    border: 2px solid #a74a3d;
}

div.opi-action-fawpforms a:hover {
    color: #a74a3d;
}

div.opi-action-facomments {
    border: 2px solid #f3bd49;
    border-radius: 7px;
    height: 44px;
    text-align: center;
    -webkit-transition: border-color .45s;
    -moz-transition: border-color .45s;
    -ms-transition: border-color .45s;
    -o-transition: border-color .45s;
    transition: border-color .45s;
    padding: 3px 0;
}

div.opi-action-facomments a {
    color: #f3bd49
}

div.opi-action-facomments:hover {
    border: 2px solid #c7983b;
}

div.opi-action-facomments a:hover {
    color: #c7983b;
}


div.opi-action-facomments a,
div.opi-action-fawpforms a {
    white-space: nowrap;
    clear: both;
    display: block;
    text-decoration: unset;
    cursor: pointer;
    font-weight: bold;
}

div.container ul.filters {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    color: black;
    font-weight: bold;
}

div.container ul.filters li {
    min-width: 60px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #f96e5b;
    color: #f96e5b;
    flex: 1 1 auto;
    text-align: center;
    -webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    -ms-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;
}

div.container ul.filters li:first-child {
    border-radius: 5px 0 0 5px;
}

div.container ul.filters li:last-child {
    border-radius: 0 5px 5px 0;
}

div.container ul.filters li:hover {
    color: black;
    background-color: rgba(249, 110, 91, 0.86);
}

div.container ul.filters li.selected {
    color: black;
    background-color: #f96e5b;
}


.filter-header {
    border-bottom: 1px solid red;
    margin: 10px;
    padding: 10px 0 0 0;
    line-height: 0;
    font-size: 1.4em;
}

.filter-search {
    display: flex;
    align-items: center;
    align-content: baseline;
    flex-direction: row;
    justify-content: center;
}