@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

.nav-bar-opi {
    background-color: #f96e5b;
    border: 0;
}

.opi-navigation {
    background: #f96e5b;
    width: auto;
}

.opi-navigation-icon {
    padding: 10px;
    display: inline-block;
    color: white;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

.opi-navigation-icon:hover {
    color: black;
}

.opi-navigation-icon i {
    font-size: 30px;
}

.opi-navigation ul.opi-navigation-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
    zoom: 1;
}

.opi-navigation ul.opi-navigation-ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.opi-navigation ul.opi-navigation-ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.opi-navigation.align-right ul.opi-navigation-ul li {
    float: right;
}

.opi-navigation.align-center ul.opi-navigation-ul {
    text-align: center;
}

.opi-navigation ul.opi-navigation-ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
    height: 50px;
}

.opi-navigation ul.opi-navigation-ul li a:hover {
    color: #333333;
}

.opi-navigation ul.opi-navigation-ul li a:hover:before {
    width: 100%;
}

.opi-navigation ul.opi-navigation-ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}

.opi-navigation ul.opi-navigation-ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #f96e5b;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}

.opi-navigation ul.opi-navigation-ul li.last > a:after,
.opi-navigation ul.opi-navigation-ul li:last-child > a:after {
    display: none;
}

.opi-navigation ul.opi-navigation-ul li.active a {
    color: #333333;
}

.opi-navigation ul.opi-navigation-ul li.active a:before {
    width: 100%;
}

.opi-navigation.align-right li.last > a:after,
.opi-navigation.align-right li:last-child > a:after {
    display: block;
}

.opi-navigation.align-right li:first-child a:after {
    display: none;
}

.opi-navbar-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: unset;
    background: unset;
}

/*.opi-navbar-socials .opi-navigation-icon {*/
/*    padding: 5px;*/
/*}*/
/**/
/*.opi-navbar-socials .opi-navigation-icon i {*/
/*    background: white;*/
/*    padding: 5px;*/
/*    border-radius: 6px;*/
/*}*/

@media screen and (max-width: 767px) {
    .opi-navigation ul.opi-navigation-ul li {
        float: none;
        display: block;
    }

    .opi-dropdown-menu {
        width: 100% !important;
        overflow-x: scroll;
        max-height: 60vh;
    }

    .opi-navigation {
        padding: 0;
    }

    .opi-navigation.collapse.in {
        overflow: visible;
        padding: 0;
    }

    .opi-navigation-ul {
        width: 100%;
    }

    .opi-navbar-socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        flex-wrap: wrap;
    }

    .opi-navigation ul.opi-navigation-ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
    }

    .opi-navigation ul.opi-navigation-ul li.last > a,
    .opi-navigation ul.opi-navigation-ul li:last-child > a {
        border: 0;
    }

    .opi-navigation ul.opi-navigation-ul li a:after {
        display: none;
    }

    .opi-navigation ul.opi-navigation-ul li a:before {
        display: none;
    }
}

.opi-dropdown-menu {
    min-width: inherit;
    background-color: #f96e5b;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -ms-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
}

.opi-dropdown-menu li {
    width: 100%;
}

.opi-dropdown-menu {
    width: min-content;
}

.opi-navigation ul.opi-navigation-ul li > ul.opi-dropdown-menu > li a:after {
    content: "";
    display: none;
}

.opi-navigation ul.opi-navigation-ul.opi-right {
    float: right;
}

.opi-navigation ul.opi-navigation-ul.opi-right li a.opi-navigation-icon {
    padding: 10px;
}


.btn-success-opi {
    background: #f96e5b;
}


@media (min-width: 768px) {
    .opi-navbar-toggle {
        display: none;
    }

}

.opi-navbar-toggle {
    position: relative;
    float: right;
}

@media (min-width: 1300px) {
    .container {
        width: 1300px;
    }
}

.opi-content {
    padding: 15px 5px 5px;
}

body {
    font-size: calc(13px + 0.15vw);
}

.opi-button {
    padding: 5px 10px;
    border: 1px solid #f96e5b;
    border-radius: 5px;
}

a.opi-button {
    border: 1px solid #f96e5b;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: default;
    text-decoration: unset;
    font-size: 1em;
    color: #f96e5b;
    -webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    -ms-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;
}

a.opi-button:hover {
    border: 1px solid #f96e5b;
    color: black;
    background-color: #f96e5b;
}

ul.opi-actions {
    list-style: none;
    padding: 10px 5px;
    margin: 0;
    display: flex;
    flex-direction: row;
}

ul.opi-actions.right {
    float: right;
}

ul.opi-actions li {
    padding: 0 5px;
    margin: 0;
}


