{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block style_src %}
    <link rel="stylesheet" href="{% static '/css/offer.css' %}">

    {{ form_comment.media.css }}
{% endblock %}


{% block content %}
    <div class="opi-offer-content" style="border-radius: 10px">
        <ul class="opi-offer-content-ul">
            <li class="opi-offer-content-title">
                {{ offer.name_offer }}
            </li>
            <li class="opi-offer-content-info">
                <ul class="opi-offer-content-info-ul">
                    <li class="info">
                        <p>{{ offer.author.nickname }} <i
                                class="fa fa-clock-o"></i>수정일: {{ dt_updated }} {{ offer.dt_updated }} <i
                                class="fas fa-phone"></i> {{ offer.phone }}</p>
                    </li>
                    <li class="actions">
                        <ul class="opi-actions right">
                            <li><a class="opi-button" href="{% url 'core:create_review' %}"><i class="fas fa-edit"></i>리뷰
                                쓰기</a>
{#                                <a class="opi-button" href="{% url 'core:' offer.id %}">#}
{#                                    <i class="fas fa-th-list">리뷰</i>#}
{#                                </a>#}


                            </li>
                            {#                            <li><a class="opi-button" href="{% url 'core:page_offer' review.offer.id %}"><i#}
                            {#                                    class="fa fa-list"></i>오픈</a></li>#}
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="opi-offer-content-html">
                {{ offer.html_content | safe }}
            </li>
            <li class="opi-offer-comments">
                <h2>의견</h2>
                {% if comments %}
                    <ul class="opi-comments">
                        {% for comment in comments %}
                            <li class="comment">
                                <ul class="comment-item">
                                    <li class="avatar">
                                        {% if comment.avatar %}
                                            <img src="{{ MEDIA_URL }}{{ comment.avatar }}" alt="">
                                        {% else %}
                                            <i class="fa fa-user avatar"></i>
                                        {% endif %}
                                    </li>
                                    <li class="body">
                                        <ul class="body">
                                            <li class="info"><p class="nickname">{{ comment.nickname }} </p><i
                                                    class="fa fa-clock-o" aria-hidden="true"></i>
                                                <p class="time"> {{ comment.time }}</p></li>
                                            <li class="actions"></li>
                                            <li class="content">{{ comment.content|safe }}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>

    </div>

    <style>
        .summernote-div {
            width: 100% !important;
        }
    </style>
    <form class="form-horizontal" role="form" action="{% url 'core:offer_comment' %}" method="post"
          enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}

        {{ form_comment.html_content }}
        {{ form_comment.author }}
        {{ form_comment.dt_created }}
        {{ form_comment.offer }}

        {% buttons %}
            <div class="text-center">
                <button type="submit" id="btn_submit" class="btn btn-color" accesskey="s">창조하다</button>
            </div>
        {% endbuttons %}

    </form>

{% endblock %}

{% block scripts_src %}
    <script>initSummernote()</script>
    {{ form_comment.media.js }}
{% endblock %}