{% load bootstrap3 %}
{% load static %}

{% bootstrap_css %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{{ offer.name }}</title>
    <link rel="stylesheet" href="{% static 'font-awesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static '/starrating/css/star-rating.min.css' %}">
    <link rel="stylesheet" href="{% static '/starrating/themes/krajee-fa/theme.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/offer.css' %}">
    <link rel="stylesheet" href="{% static '/css/reviews.css' %}">
</head>

<body>
<div class="opi-offer-content" style="border-radius: 10px">
{% if reviews %}
    <ul class="opi-comments">
        {% for review in reviews %}
            <li class="comment">
                <ul class="comment-item">
                    <li class="avatar">
                        {% if review.avatar %}
                            <img src="{{ MEDIA_URL }}{{ review.avatar }}" alt="">
                        {% else %}
                            <i class="fa fa-user avatar"></i>
                        {% endif %}
                    </li>
                    <li class="body">
                        <ul class="body">
                            <li class="info"><p class="nickname">{{ review.author }} </p><i
                                    class="fa fa-clock-o" aria-hidden="true"></i>
                                <p class="time"> {{ review.dt_created }}</p></li>
                            <li class="actions"></li>
                            <li class="content">
                                <ul class="opi-ratings">
                                    {% for rating in review.ratings %}
                                        <li class="opi-rating-item">
                                            <b>{{ rating.name }}</b>
                                            <label>
                                                <input class="rating-sm"
                                                       value="{{ rating.n_rate }}"
                                                       type="text">
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {{ review.content|safe }}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3 style="text-align: center">리뷰 없음</h3>
{% endif %}
</div>


<script type="text/javascript" src="{% static "jquery/js/jquery-3.3.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "starrating/js/star-rating.min.js" %}"></script>
<script type="text/javascript" src="{% static "starrating/themes/krajee-fa/theme.min.js" %}"></script>
<script>
    $(".rating").rating({
        min: 0,
        max: 5,
        step: 1,
        size: 'md',
        showClear: false,
        captionElement: null,
        showCaption: false,
    });
    $(".rating-sm").rating({
        min: 0,
        max: 5,
        step: 1,
        size: 'xs',
        showClear: false,
        captionElement: null,
        showCaption: false,
        displayOnly: true,
    });
</script>
{% bootstrap_javascript %}


</body>
</html>