{% extends "base.html" %}
{% load static %}
{#{% load bootstrap3 %}#}
{##}
{#{% bootstrap_css %}#}
{#{% bootstrap_javascript %}#}
{#{% bootstrap_messages %}#}

{% block style_src %}
    <link rel="stylesheet" href="{% static '/css/offer.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.jqueryui.min.css"/>

{% endblock %}


{% block content %}
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="day-tab" data-toggle="tab" href="#day" role="tab" aria-controls="day"
                   aria-selected="true">일간 조회수</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="week-tab" data-toggle="tab" href="#week" role="tab"
                   aria-controls="week" aria-selected="false">주간 조회수</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="month-tab" data-toggle="tab" href="#month" role="tab"
                   aria-controls="month" aria-selected="false">월간 조회수</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="day" role="tabpanel" aria-labelledby="day-tab">
                <div style="display: flex;justify-content: space-evenly;flex-direction: row;">
                    {% for rec in popular_day %}
                        {% if forloop.counter == 1 %}
                            <ul class="top-offers-ul">
                        {% endif %}
                    {% if forloop.counter == 6 %}
                        </ul>
                        <ul class="top-offers-ul">
                    {% endif %}
                    <li>
                        <a href="{% url 'core:page_offer' rec.offer_id %}">{{ forloop.counter }}. {{ rec.offer_name }} </a>
                    </li>
                    {% if  forloop.counter == 10 %}
                        </ul>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="tab-pane fade" id="week" role="tabpanel" aria-labelledby="week-tab">
                <div style="display: flex;justify-content: space-evenly;flex-direction: row;">
                    {% for rec in popular_week %}
                        {% if forloop.counter == 1 %}
                            <ul class="top-offers-ul">
                        {% endif %}
                    {% if forloop.counter == 6 %}
                        </ul>
                        <ul class="top-offers-ul">
                    {% endif %}
                    <li>
                        <a href="{% url 'core:page_offer' rec.offer_id %}">{{ forloop.counter }}. {{ rec.offer_name }} </a>
                    </li>
                    {% if  forloop.counter == 10 %}
                        </ul>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="tab-pane fade" id="month" role="tabpanel" aria-labelledby="month-tab">
                <div style="display: flex;justify-content: space-evenly;flex-direction: row;">
                    {% for rec in popular_month %}
                        {% if forloop.counter == 1 %}
                            <ul class="top-offers-ul">
                        {% endif %}
                    {% if forloop.counter == 6 %}
                        </ul>
                        <ul class="top-offers-ul">
                    {% endif %}
                    <li>
                        <a href="{% url 'core:page_offer' rec.offer_id %}">{{ forloop.counter }}. {{ rec.offer_name }} </a>
                    </li>
                    {% if  forloop.counter == 10 %}
                        </ul>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="content" id="region-filter">
            <div class="filter-header"><p>지구</p></div>
            <div class="filter">
                <ul class="filters">
                    <li data-region-id="0" class="selected">모두</li>
                    {% for region in regions %}
                        <li data-region-id="{{ region.id }}">{{ region.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content" id="category-filter">
            <div class="filter-header"><p>카테고리</p></div>
            <div class="filter">
                <ul class="filters">
                    <li data-category-id="0" class="selected">모두</li>
                    {% for category in categories %}
                        <li data-category-id="{{ category.id }}">{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <ul class="opi-actions right">
            <li>
                <a class="opi-button" href="{% url 'core:create_review' %}"><i class="fas fa-edit"></i>리뷰 쓰기</a>
            </li>
        </ul>
        <div style="all:unset;">
            <table id="reviews-table" class="display hover" style="width: 100%">
                <thead>
                <tr>
                    <td style="text-align: center">번호</td>
                    <td style="text-align: center">v_name_town</td>
                    <td style="text-align: center">v_name_region</td>
                    <td style="text-align: center">v_name_offer</td>
                    <td style="text-align: center">제목</td>
                    <td style="text-align: center">작성자</td>
                    <td style="text-align: center">날짜</td>
                    <td style="text-align: center">조회</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}


{% block scripts_src %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.jqueryui.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/dataRender/datetime.js"></script>
    <script src="{% static 'js/offer/reviews_board.js' %}"></script>
    <script src="{% static 'lib/moment/moment.min.js' %}"></script>

    <script>
        let l_town_id = {{ town }};
        let l_region_id = 0;
        let l_category_id = 0;
        const l_crsf_token = "{{ csrf_token }}";
    </script>

    <script>
        let USERS_LIST_JSON_URL = '{% url "core:review_list_json" %}';
        let G_REVIEW_PAGE_URL =
            {% if user.is_authenticated %}
                "{% url 'core:page_review' review=99999999999999 %}";
            {% else %}
                "{% url 'core:login_url' %}";
            {% endif %}
    </script>
{% endblock %}