{% extends "base.html" %}
{% load static %}

{% block style_src %}
    <link rel="stylesheet" href="{% static 'fancybox/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction.css' %}">
{% endblock %}

{% block content %}
    <div class="opi-board">
        {% if auctions %}
            {% for auction in auctions %}
                <div class="opi-auction-item col-sm-12 col-md-12 col-xs-12">
                    <ul class="opi-auction-item-ul">
                        <li class="opi-auction-item-image">
                            <img src="{{ MEDIA_URL }}{{ auction.user.profile.avatar }}" alt="">
                        </li>
                        <li class="opi-auction-item-info">
                            <ul class="opi-auction-item-info-ul">
                                <li class="opi-auction-item-title">
                                    <p>{{ auction.title }}</p>
                                </li>
{#                                <li class="opi-auction-item-category">#}
{#                                    <p>{{ auction.description }}</p>#}
{#                                </li>#}
                                <li class="opi-auction-item-timework">
                                    <div class="opi-auction-info-bl" style="">
                                        <div>
                                            <b>마지막 입찰</b>
                                            {% if auction.current_price %}
                                                {{ auction.current_price }}
                                            {% else %}
                                                {{ auction.start_price }}
                                            {% endif %}
                                        </div>
                                        <div>
                                            <b>별명</b><a> {{ auction.user_winner.profile.nickname }}</a>
                                        </div>
                                        <div>
                                            <b>종료일</b><a> {{ auction.dt_expiration }}</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="opi-auction-item-actions">
                                    <ul class="opi-auction-item-action-ul">
                                        <li class="opi-action-li">
                                            <div class="opi-action-fawpforms"><a aria-expanded="true"
                                                                                 data-auction-id="{{ auction.id }}"
                                                                                 class="auction auction-iframe">
                                                <i class="fas fa-money-bill-alt"></i><br>내기</a>
                                            </div>
                                        </li>
                                        <li class="opi-action-li">
                                            <div class="opi-action-facomments"><a aria-expanded="true"
                                                                                  data-auction-id="{{ auction.id }}"
                                                                                  class="auction-comments history-iframe">
                                                <i class="far fa-list"></i><br>입찰 기록</a></div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts_src %}
    <script src="{% static 'fancybox/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'fancybox/jquery.fancybox.js' %}"></script>
    <script>
        $(".auction-iframe").click(function () {
            $.fancybox.open({
                href: "{% url 'core:create_bet_iframe' auction=99999999 %}".replace("99999999", this.dataset.auctionId),
                type: 'iframe',
                padding: 0,
            });
        });
        $(".history-iframe").click(function () {
            $.fancybox.open({
                href: "{% url 'core:auction_history' auction=99999999 %}".replace("99999999", this.dataset.auctionId),
                type: 'iframe',
                autoscale: true,
                padding: 0,
                'scrolling': 'yes',
            });
        });

        {#const l_ajax_get_offers = "{% url 'core:get_ajax_offers' %}";#}
    </script>
{% endblock %}