{% extends "base.html" %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block style_src %}
    {{ form.media.css }}
    <style>
    .bootstrap-datetimepicker-widget{
        color: black;
        background: white;
    }
    </style>
{% endblock %}

    <input type="text" name="dt_expiration" title="" class="form-control" required="" placeholder="닉네임" dp_config="{&quot;picker_type&quot;: &quot;DATETIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClear&quot;: true, &quot;format&quot;: &quot;MM/DD/YYYY HH:mm&quot;, &quot;showTodayButton&quot;: true, &quot;showClose&quot;: true}, &quot;id&quot;: &quot;dp_1&quot;}" id="id_dt_expiration">
    <div class="input-group-addon input-group-append" data-target="#datetimepicker1" data-toggle="datetimepickerv">
        <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
    </div>


{% block content %}

    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading" style="background: #f96e5b; color: white;"><strong><i
                    class="fa fa-star fa-lg"></i>프로필</strong></div>
            <div class="panel-body">
                {{ form.errors }}
{{ form.non_field_errors }}
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.user layout='horizontal' horizontal_label_class='col-sm-2 col-xs-12' horizontal_field_class='col-sm-6 col-xs-12' label='닉네임' %}
{#                {% bootstrap_field form.offer layout='horizontal' horizontal_label_class='col-sm-2 col-xs-12' horizontal_field_class='col-sm-6 col-xs-12' label='offer' %}#}
                {% bootstrap_field form.title layout='horizontal' horizontal_label_class='col-sm-2 col-xs-12' horizontal_field_class='col-sm-6 col-xs-12' label='직함' %}

                {% bootstrap_field form.start_price layout='horizontal' horizontal_label_class='col-sm-2 col-xs-12' horizontal_field_class='col-sm-6 col-xs-12' label='시작 가격' %}
                {% bootstrap_field form.dt_expiration layout='horizontal' horizontal_label_class='col-sm-2 col-xs-12' horizontal_field_class='col-sm-6 col-xs-12' label='종료일' %}
                {% bootstrap_field form.secret_key layout='horizontal' horizontal_label_class='col-sm-2 col-xs-12' horizontal_field_class='col-sm-6 col-xs-12' label='쿠폰' %}
{#                {{ form.dt_expiration }}#}
{#                {{ form.description }}#}

                {#                {% bootstrap_field form.captcha layout='horizontal' horizontal_label_class='col-sm-2 col-xs-12' horizontal_field_class='col-sm-6 col-xs-12' label=' ' %}#}

            </div>
            {% buttons %}
                <div class="text-center" style="margin:30px 0px;">
                    <button type="submit" id="btn_submit" class="btn btn-color btn-success-opi" accesskey="s">창조하다
                    </button>
                </div>
            {% endbuttons %}
        </div>
    </form>

{% endblock %}

{% block scripts_src %}
    <script>initSummernote()</script>
    <script src='https://www.google.com/recaptcha/api.js?hl=ko'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let form = document.querySelector('#fregisterform');
            document.getElementById('btn_submit').addEventListener('click', function () {
                let response = grecaptcha.getResponse();
                if (response.length === 0)
                    1;
                else
                    form.submit();
            });
        })
    </script>
    {{ form.media.js }}

{% endblock %}

