{% extends "user/user_page.html" %}
{% load bootstrap3 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}



{% block for_child %}
    <section class="xm"
             style="font-size: 16px; padding: 20px 10px 20px 10px; border: 1px solid #dedede90; color: #ffffffbd; border-radius: 10px; background: url(/static/custom/images/img/userinfo_bg.png);">

        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data"
              autocomplete="off">
            {% csrf_token %}
            {{ user_form.media }}
            {{ profile_form.media }}

            {% bootstrap_form_errors profile_form %}
            {#        {% bootstrap_form_errors user_form.non_field_errors %}#}
            {#        {% bootstrap_form_errors profile_form.errors %}#}
            {% bootstrap_form_errors user_form %}
            {% bootstrap_field profile_form.nickname layout='horizontal' horizontal_label_class='col-sm-2' horizontal_field_class='col-sm-6' label='별명' %}
            {% bootstrap_field user_form.first_name layout='horizontal' horizontal_label_class='col-sm-2' horizontal_field_class='col-sm-6' label='이름' %}
            {% bootstrap_field user_form.last_name layout='horizontal' horizontal_label_class='col-sm-2' horizontal_field_class='col-sm-6' label='성' %}
            {% bootstrap_field profile_form.sex layout='horizontal' horizontal_label_class='col-sm-2 col-xs-12' horizontal_field_class='col-sm-6 col-xs-12' %}

            {% bootstrap_field profile_form.avatar layout='horizontal' horizontal_label_class='col-sm-2' horizontal_field_class='col-sm-6' label='아바타' %}


            {% buttons %}
                <div class="text-center" style="margin:30px 0;">
                    <button type="submit" id="btn_submit" class="btn btn-color btn-success-opi" accesskey="s">창조하다
                    </button>
                </div>
            {% endbuttons %}
        </form>
    </section>
{% endblock %}