{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}



{% block content %}

    <div style="padding: 0 0 60px 0;">
        <div class="cat_menu_btn"><a href="{% url 'core:profile' %}"><span><i
                class="fa fa-user"></i> 회원정보</span></a></div>
        <div class="cat_menu_btn"><a href="{% url 'core:user_balance_history' %}"><span><i
                class="fa fa-pencil"></i> 글작성 내역</span></a></div>
    </div>

{#    <div class="opi-default-page">#}
{##}
{#        <div class="content">#}
{#            <div class="filter-header"><p>지역</p></div>#}
{#            <div class="filter">#}
{#                <ul class="filters">#}
{#                    <li><a href="{% url 'core:profile' %}"><i class="fa fa-user"></i>회원정보</a></li>#}
{#                    <li><a href="{% url 'core:user_balance_history' %}">공덕획득 내역</a></li>#}
                    {#                    <li><a href=""><i class="fa fa-handshake-o"></i>쿠폰관리</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}

        {% block for_child %} {% endblock %}

{#    </div>#}
{% endblock %}