{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block style_src %}
    {{ form_comment.media.css }}
{% endblock %}


{% block content %}
     <table width="100%" cellspacing="0" cellpadding="0" align="center" style="background-color: #ffffffb9;">
        <tbody>
        <tr>
            <td id="mw_basic">
                <div class="mw_basic_view_subject" id="mw_basic_view_subject">
                    <h1>{{ topic.title }}</h1>
                </div>
                <div class="mw_basic_view_title">
                    <span class="mw_basic_view_name">&nbsp;
                        <span class="sv_wrap">
                          <a class="sv_member" title="{{ topic.user.profile.nickname }}"> {{ topic.user.profile.nickname }}</a>
                        </span>
                    </span>

                    <span class="mw_basic_view_datetime media-date" style="float: right"><i
                            class="fa fa-clock-o"></i> 수정일: {{ topic.dt_created }}</span>
                    <span class="mw_basic_view_hit"><i class="fa fa-eye"></i> {{ offer.views }}</span>
                </div>
                <div style="width:100%; margin:10px 0 10px 0">
                    <table style="width:100%">
                        <tbody>
                        <tr style="line-height: 25px;">
                            {#                            <td align="left">#}
                            {#                                <a id="skipContent" class="fa-button" href="javascript:;"><i class="fa fa-share"></i><span>본문건너뛰기</span></a>&nbsp;#}
                            {#                                <a class="fa-button" href=""><i class="fa fa-list-alt"></i><span>업소후기</span></a>#}
                            {#                            </td>#}

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mw_basic_view_content">
                    {{ topic.content | safe }}
                    {% if comments %}
                        <div id="commentContents">
                            {% for comment in comments %}
                                <table style="margin-bottom:5px;" width="100%" height="1" cellspacing="0"
                                       cellpadding="0">
                                    <tbody>
                                    <tr>
                                        <td style="line-height:0;"></td>
                                        <td style="border-top:1px solid #ddd;" width="100%" height="1"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr>
                                        <td style="text-align:left;" valign="top">
                                            <div>
                                                {% if comment.avatar %}
                                                    <img src="{{ MEDIA_URL }}{{ comment.avatar }}" alt=""
                                                         class="media-object"
                                                         style="border:0;border-radius:10%; width:60px; height:60px; background-color:#f8f8f9; text-align:center;line-height:20px; margin-right:10px;">
                                                {% else %}
                                                    <img src="/static/plugins/images/img/noimg.png" alt=""
                                                         class="media-object"
                                                         style="border:0;border-radius:10%; width:60px; height:60px; background-color:#f8f8f9; text-align:center;line-height:20px; margin-right:10px;">
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td style="padding-left: 2px;" width="2" bgcolor="#dedede"></td>
                                        <td>
                                            <div style="width:10px;"></div>
                                        </td>
                                        <td width="100%" valign="top">
                                            <table width="100%" height="28" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="mw_basic_comment_name">
                                                            <a href="" class="sv_member"
                                                               title="{{ comment.nickname }}" target="_blank"
                                                               rel="nofollow"
                                                               onclick="return false;"> {{ comment.nickname }}</a>
                                                        </span>
                                                        <span class="mw_basic_comment_datetime media-date"><i
                                                                class="fa fa-clock-o"></i>
                                                            <span title="{{ comment.time }}">{{ comment.time }}</span>
                                                        </span>
                                                        <div class="mw_basic_comment_func" style="float:right;">
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="mw_basic_comment_content" width="100%" cellspacing="0"
                                                   cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td valign="top">
                                                        <!-- 코멘트 출력 -->
                                                        <div id="view_802">
                                                            {{ comment.html_content|safe }}
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <div class="division"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" height="10"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            {% endfor %}

                        </div>
                    {% endif %}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <style>
        .summernote-div {
            width: 100% !important;
        }
        .summernote-div button {
            color: black;
        }
    </style>

    <form class="form-horizontal" role="form" action="{% url 'core:topic_comment' %}" method="post"
          enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}

        {{ form_comment.content }}
        {{ form_comment.user }}
        {{ form_comment.dt_created }}
        {{ form_comment.topic }}

        {% buttons %}
            <div class="text-center">
                <button type="submit" id="btn_submit" class="btn btn-color btn-success-opi" accesskey="s">창조하다</button>
            </div>
        {% endbuttons %}


    </form>

{% endblock %}

{% block scripts_src %}
    <script>initSummernote()</script>
    {{ form_comment.media.js }}
{% endblock %}