{% extends "base.html" %}
{% load static %}

{% block style_src %}
    <link rel="stylesheet" href="{% static 'fancybox/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.jqueryui.min.css"/>
{% endblock %}

{% block content %}
    <div class="opi-board col-sm-12" style="margin-bottom: 30px">
        {% if offers_vip %}
            {% for offer in offers_vip %}
                <div class="opi-offer col-sm-6 col-md-3 col-xs-12">
                    <ul class="opi-offer-ul offer-vip">
                        <li class="opi-offer-image">
                            <img src="{{ MEDIA_URL }}{{ offer.offer_avatar }}" alt="">
                        </li>
                        <li class="opi-offer-title">
                            <p>{{ offer.name }}</p>
                        </li>
                        <li class="opi-offer-info">
                            <ul class="opi-offer-info-ul">
                                <li class="opi-offer-category">
                                    <p>{{ offer.category_name }}</p>
                                </li>
                                <li class="opi-offer-timework">
                                    <b>영업시간</b> {{ offer.offer_timework }}
                                </li>
                                <li class="opi-offer-phone">
                                    <b>전화번호</b><a href="tel:${phone}"> {{ offer.offer_phone }}</a>
                                </li>

                            </ul>
                        </li>
                        <li class="opi-offer-actions">
                            <ul class="opi-offer-action-ul">
                                <li class="opi-action-li">
                                    <div class="opi-action-fawpforms"><a aria-expanded="true"
                                                                         data-offer-id="{{ offer.offer_id }}"
                                                                         class="offer offer-iframe">
                                        <i class="fab fa-wpforms"></i><br>출근부</a>
                                    </div>
                                </li>
                                <li class="opi-action-li">
                                    <div class="opi-action-facomments"><a aria-expanded="true"
                                                                          data-offer-id="{{ offer.offer_id }}"
                                                                          class="offer-comments reviews-iframe">
                                        <i class="far fa-comment"></i><br>후기</a></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="content" id="text-filter">
        <div class="filter-header"><p>이름으로 검색</p></div>
        <div class="filter-search">
            <input type="text" class="form-control" id="search_field" style="width: unset;"
                   maxlength="100">
            <a class="opi-button" id="search_btn">찾기</a>
        </div>
    </div>
    <div class="content" id="region-filter">
        <div class="filter-header"><p>지구</p></div>
        <div class="filter">
            <ul class="filters">
                <li data-region-id="0" class="selected">모두</li>
                {% for region in regions %}
                    <li data-region-id="{{ region.id }}">{{ region.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content" id="category-filter">
        <div class="filter-header"><p>카테고리</p></div>
        <div class="filter">
            <ul class="filters">
                <li data-category-id="0" class="selected">모두</li>
                {% for category in categories %}
                    <li data-category-id="{{ category.id }}">{{ category.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{#    <div class="opi-board" id="opi-board">#}
        {#        <div class="opi-offer col-sm-3">#}
        {#            <ul class="opi-offer-ul">#}
        {#                <li class="opi-offer-image">#}
        {#                    <img src="${avatar}" alt="">#}
        {#                </li>#}
        {#                <li class="opi-offer-title">#}
        {#                    <p>${name}</p>#}
        {#                </li>#}
        {#                <li class="opi-offer-info">#}
        {#                    <ul class="opi-offer-info-ul">#}
        {#                        <li class="opi-offer-category">#}
        {#                            <p>${category}</p>#}
        {#                        </li>#}
        {#                        <li class="opi-offer-timework">#}
        {#                            <b>영업시간</b> ${timework}#}
        {#                        </li>#}
        {#                        <li class="opi-offer-phone">#}
        {#                            <b>전화번호</b><a href="tel:${phone}">${phone}</a>#}
        {#                        </li>#}
        {##}
        {#                    </ul>#}
        {#                </li>#}
        {#                <li class="opi-offer-actions">#}
        {#                    <ul class="opi-offer-action-ul">#}
        {#                        <li class="opi-action-li">#}
        {#                            <div class="opi-action-fawpforms"><a aria-expanded="true" data-offer-id="${id}"#}
        {#                                                                 class="offer">#}
        {#                                <i class="fab fa-wpforms"></i><br>출근부</a>#}
        {#                            </div>#}
        {#                        </li>#}
        {#                        <li class="opi-action-li">#}
        {#                            <div class="opi-action-facomments"><a aria-expanded="true" data-offer-id="${id}"#}
        {#                                                                  class="offer-comments">#}
        {#                                <i class="far fa-comments"></i><br>후기</a></div>#}
        {#                        </li>#}
        {#                    </ul>#}
        {#                </li>#}
        {#            </ul>#}
        {#        </div>#}
        <div style="all:unset;">
            <table id="town-table" class="display hover" style="width: 100%">
                <thead>
                <tr>
                    <td style="text-align: center">번호</td>
                    <td style="text-align: center">발표</td>
                    <td style="text-align: center">전화 번호</td>
                    <td style="text-align: center">별명</td>
                </tr>
                </thead>
            </table>
        </div>
{#    </div>#}
{% endblock %}

{% block scripts_src %}

    <script src="{% static 'js/boards/town_board.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.jqueryui.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/dataRender/datetime.js"></script>
    <script src="{% static 'fancybox/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'fancybox/jquery.fancybox.js' %}"></script>
    <script src="{% static 'lib/moment/moment.min.js' %}"></script>
{#    <script>#}
{#        let is_auth;#}
{#        let login_url;#}
{#        {% if user.is_authenticated %}#}
{#            is_auth = true;#}
{#        {% else %}#}
{#            is_auth = false;#}
{#            login_url = "{% url 'core:login_url' %}";#}
{#        {% endif %}#}
{#        let g_offer_url = "{% url 'core:iframe_offer' offer=99999999999999 %}";#}
{#        let g_reviews_url = "{% url 'core:iframe_reviews' offer=99999999999999 %}";#}
{#        const l_need_auth = "{% url 'core:login_url' %}";#}
{#        const l_ajax_get_offers = "{% url 'core:ajax_get_offers_body' %}";#}
{#        let l_text_search = '';#}
{#        let l_town_id = {{ town }};#}
{#        let l_region_id = 0;#}
{#        let l_category_id = 0;#}
{#        const MEDIA_URL = "{{ MEDIA_URL }}";#}
{#        const l_csrf_token = "{{ csrf_token }}";#}
{#    </script>#}

    <script>
        let l_town_id = {{ town }};
        let l_region_id = 0;
        let l_category_id = 0;
        let l_text_search;
        const l_csrf_token = "{{ csrf_token }}";
        let TOWN_OFFERS_LIST_JSON_URL = '{% url "core:town_offers_list_json" %}';
        let G_OFFER_PAGE_URL =
            {% if user.is_authenticated %}
                "{% url 'core:page_offer' offer=99999999999999 %}";
            {% else %}
                "{% url 'core:login_url' %}";
            {% endif %}


        $(".offer-iframe").click(function () {
            {% if user.is_authenticated %}
                $.fancybox.open({
                    href: {% if user.is_authenticated %}
                        "{% url 'core:iframe_offer' offer=99999999999999 %}".replace('99999999999999', this.dataset.offerId) {% else %}
                        "{% url 'core:login_url' %}" {% endif %},
                    type: 'iframe',
                    padding: 0,
                    height: 800,
                });
            {% else %}
                location.href = "{% url 'core:login_url' %}";
            {% endif %}
        });
        $(".reviews-iframe").click(function () {
            {% if user.is_authenticated %}
                $.fancybox.open({
                    href: {% if user.is_authenticated %}
                        "{% url 'core:iframe_reviews' offer=99999999999999 %}".replace('99999999999999', this.dataset.offerId) {% else %}
                        "{% url 'core:login_url' %}" {% endif %},
                    type: 'iframe',
                    padding: 0,
                    height: 800,
                    autoSize: false
                });
            {% else %}
                location.href = "{% url 'core:login_url' %}";
            {% endif %}
        });
    </script>
{% endblock %}